h1, p {
  font-family: Lato;
}

.item-style {
  border: 1px solid gray;
  width: 200px;
}

.form-field{
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  justify-content: space-between;
  width:300px;
}